body{
  height:100vh;
  width:100vw;
  background-color:gray;
  overflow:hidden;
}

.bubble-shadow{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: radial-gradient(#e8d1ff,#ffd1d1,#ffffc6,#d1ffe8,#ccccff,#000);
}
.bubble-body{
  position:relative;
  top: -95%;
  left: 15%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color:#efffffa6;
}

.bubble{
  position: absolute;
}

.bubble[data-index='1']{
  animation: bubble1 10s ease-in infinite;
  width: 35px;
  height: 35px;
}

.bubble[data-index='2']{
  animation: bubble2 7s ease-in infinite;
  width: 28px;
  height: 28px;
}

.bubble[data-index='3']{
  animation: bubble3 15s ease-in infinite;
  width: 40px;
  height: 40px;
}

.bubble[data-index='4']{
  animation: bubble2 15s ease-in infinite;
  width: 40px;
  height: 40px;
}

@keyframes bubble1{
  0% {
    transform: translateX(40vw) translateY(120vh);
  }

  100% {
    transform: translateX(30vw) translateY(-20vh);
  }
}

@keyframes bubble2{
  0% {
    transform: translateX(10vw) translateY(120vh);
  }

  100% {
    transform: translateX(60vw) translateY(-20vh);
  }
}

@keyframes bubble3{
  0% {
    transform: translateX(15vw) translateY(120vh);
  }

  100% {
    transform: translateX(20vw) translateY(-20vh);
  }
}
