body{
  height:100vh;
  width:100vw;
  background-color:gray;
  overflow:hidden;
}

.bubble-shadow{
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  background: radial-gradient(#e8d1ff,#ffd1d1,#ffffc6,#d1ffe8,#ccccff,#000);
  float:left;
}
.bubble-body{
  position: absolute;
  top: 5%;
  left: 15%;
  width:80%;
  padding-bottom: 80%;
  border-radius: 100%;
  background-color:#efffffa6;
}

.bubble{
  position: absolute;
}

.bubble[data-index='1']{
  animation: bubbleX1 10s ease-in infinite;
  width: 100px;
}

.bubble[data-index='1'] div{
  animation: bubbleY 10s ease-in infinite;
}

.bubble[data-index='2']{
  animation: bubble2 7s ease-in infinite;
  width: 28px;
}

.bubble[data-index='3']{
  animation: bubble3 15s ease-in infinite;
  width: 40px;
}

.bubble[data-index='4']{
  animation: bubble2 20s ease-in infinite;
  width: 40px;
}

@keyframes bubbleY{
  0% {
    transform: translateY(150vh);
  }

  100% {
    transform: translateY(-50vh);
  }
}

@keyframes bubbleX1{
  0% {
    transform: translateX(40vw);
  }

  100% {
    transform: translateX(30vw);
  }
}

@keyframes bubble2{
  0% {
    transform: translateX(10vw) translateY(120vh);
  }

  100% {
    transform: translateX(60vw) translateY(-20vh);
  }
}

@keyframes bubble3{
  0% {
    transform: translateX(15vw) translateY(120vh);
  }

  100% {
    transform: translateX(20vw) translateY(-20vh);
  }
}
